@import url(colors.css);
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: var(--yankee-blue); */
}
.box {
  background-color: var(--yankee-blue);
  width: 100%;
  height: 340px;
  position: relative;
}

h1 {
  font-family: "Poppins", sens-serief;
  color: var(--muted-teal);
  position: absolute;
  left: 550px;
  top: 140px;
  font-size: 50px;
}

#task {
  background-color: var(--shadow);
  height: 60px;
  width: 500px;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 220px;
  left: 500px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  color: var(--eggshell);
}

#task::placeholder {
  padding-left: 30px;
  font-size: 18px;
}

#ad {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 217px;
  left: 63.5rem;
  background-color: var(--beige);
}

.list {
  width: 100%;
  height: 200%;
  background-color: var(--eggshell);
  position:fixed;
}

.task-item {
  display: flex;
  align-items: center;
  position:sticky;
  padding: 20px;
  background: white;
  border-radius: 18px;
  margin: 20px 100px 12px 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  /* border: 1px solid #f5f5f5; */
  font-size: 25px;
  font-family: "Poppin", sans-serif;
}

.task-item:hover {
  box-shadow: 8px 6px 20px rgb(48 51 92 / 23%);;
  transform: translateY(-2px);
}

.task-item input[type="checkbox"] {
  width: 24px;
  height: 24px;
  min-width: 24px;
  border: 2px solid #d1d1d6;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  background: white;
}
