@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: var(--yankee-blue);
}

#task{
    background-color: var(--shadow);
    height: 60px;
    width: 500px;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 150px;
    left:500px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding-left: 30px;
}

#task::placeholder{
    padding-left: 30px;
    font-size: 18px;
}


#ad{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position:absolute;
    top:147px;
    left: 63.5rem;
    background-color: var(--beige);

    
}


.fa-solid{
    height: 10px;
}